ul{list-style-type: none;}
a{text-decoration: none;}
.body{
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/*hedder*/

 .header-logo{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1,16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        line-height: 1.17
}

.header-logo-studio{ 
    color: #2e2f42;
    content: studio;
}
.header-logo-studio:hover{
    color: #404bbf;
}
.header-logo-studio:focus {
    color: #404bbf;
}

.header-address-kursiv{
    font-style: normal;
}

.nav-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.nav-link:hover{
    color: #404bbf;
} 
.nav-link:focus{
    color: #404bbf;
}


.nav-inform{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.nav-inform:hover{
    color: #404bbf;
}
.nav-inform:focus{
    color: #404bbf;
}


/*maoin-saction-1*/
.section-top{
    background-color: #2e2f42;
}

.main-solutions{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff
}

.hero-order{
        font-family:"Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4D5AE5;
        cursor: pointer;
}

.hero-order:hover{ background-color: #404bbf;}
.hero-order:focus{ background-color: #404bbf;}

/*maoin-saction-2*/

.section-advantages{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.advantages-paragraf{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*maoin-saction-3*/
 
.team{
background-color:#F4F4FD;
}
.background-item{
    background-color: #FFFFFF;
}
.section-team{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.section-naim{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.section-work{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/*maoin-saction-4*/

.saction-portfolio{
    text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.saction-service{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.saction-mark{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*footer*/

.footer{
    background-color: #2e2f42;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1, 16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
}

.footer-logo:hover,
.footer-logo:focus {
    color: #404bbf;
}

.footer-logo-studio {
    color: #f4f4fd;
}

.footer-logo-studio:hover,
.footer-logo-studio:focus {
    color: #404bbf;
}
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}